body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 50px; /* Ajuste conforme necessário para a altura da barra de navegação */
}
a:hover {
    background-color: #007cce;
}  

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

