header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(180, 180, 125);
    height: 5rem;
    width: 100%;
    font-size: 2rem;
}

header ul {
    position: fixed;
    top: 1rem;
    left: 10%;
    margin-top: 0;
}
header ul li {
    width: 10rem;
    display: inline-block;
    margin-right: 4rem;
}
header ul li a {
    text-decoration: none;
    color: white;
    padding: 0rem;
}

header ul li a:hover {
    color: rgb(66, 66, 8);
    background-color: white;
}